/src_cli/settings*.json
/src_cli/settings.bak
/src_cli/images/*
!/src_cli/images/__place_images.txt
/src_cli/scripts/*
!/src_cli/scripts/__place_scripts.txt
/src_cli/mascots/tomaae/
/src_cli/lib/__pycache__/
/src_cli/__pycache__/
/build
/dist
/.idea
.idea
